<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar produtos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "Topo">
        <h1>Farmácia farmacos</h1>
        <p>Cadastro cliente</p>
    </div>
    <main>
        <a href="/">Voltar</a>
    </main>
</body>
</html>