<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar produtos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "Topo">
        <h1>Farmácia farmacos</h1>
        <p>Compra</p>
    </div>
    <main>
        <div>
          <form action="/compra">
          <label for="remedio">Remédio</label>
          <select type="number" name="remedio" id="remedio">
            <% @remedios.each do |remedio|%>
            <option value = "<%= remedio[0]%>" > <%= remedio[1]%></option>
            <%end%>  
          </select>
          <label for="cliente">Cliente</label>
          <select type="text" name="cliente" id="cliente">
            <label for="cliente">Cliente</label>
            <% @clientes.each do |cliente|%>
            <option value="<%= cliente[1]%>"> <%= cliente[1]%> </option>
            <%end%>
          </select>
          <input type="submit" value = "Comprar">
        </form>
        </div>
        <a href="/"><input type="button" value="Voltar"></a>
    </main>
</body>
</html>  