<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar produtos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "Topo">
        <h1>Farmácia farmacos</h1>
        <p>Compra</p>
    </div>
    <main>
        <form action="/compra">
          <label for="remedio">Remédio</label>
          <select name="remedio" id="remedio">
            <% @remedios.each do |emedio|%>
            <option value = "<%= emedio[0]%>" > <%= emedio[1]%></option>
            <%end%>  
          </select>
          <label for="cliente">Cliente</label>
          <select name="cliente" id="cliente">
            <label for="cliente">Cliente</label>
            <% @clientes.each do |liente|%>
            <option value="<%= liente[1]%>"> <%= liente[1]%> </option>
            <%end%>
          </select>
          <input type="submit" value = "Comprar">
        </form>
        <a href="/">Voltar</a>
    </main>
</body>
</html>