<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmácia farmacos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "Topo">
        <h1>Farmácia farmacos</h1>
        <p>Bem vindo!</p>
    </div>
    <main>
        <div>
            <h2>Qual serviço deseja acessar?</h2>
            <p>para Cadastrar um produto clique <a href="/cadastro">aqui</a></p>
            <p>para Cadastrar um cliente clique <a href="/clientes">aqui</a></p>
            <p>para Comprar um produto clique <a href="/compra">aqui</a></p>

            <h2>Remédios cadastrados</h2>
            <table>
            <thead>
                    <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <% @remedios.each do |remedio| %>
                    <tr>
                    <td><%= remedio[1] %></td>
                    <td><%= remedio[2] %></td>
                    <td><%= remedio[3] %></td>
                    </tr>
                <% end %>
            </tbody>
        </div>
    </main>
</body>
</html>