<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmácia farmacos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "Topo">
        <h1>Farmácia farmacos</h1>
        <p>Bem vindo!</p>
    </div>
    <main>
        <h2>Qual serviço deseja acessar?</h2>
        <div>
            <p>para Cadastrar um produto clique <a href="/cadastro">aqui</a></p>
            <p>para Cadastrar um cliente clique <a href="/clientes">aqui</a></p>
            <p>para Comprar um produto clique <a href="/compra">aqui</a></p>
        </div>
    </main>
</body>
</html>