body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Topo {
  background-color: #ff0000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main > div {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div form {
  margin-bottom: 20px;
}

div form label {
  display: block;
  margin-bottom: 5px;
}

div form input[type="text"],
div form input[type="number"],
div form select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div form input[type="submit"],
div a button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div form input[type="submit"]:hover,
div a button:hover {
  background-color: #0056b3;
}
